body{

background:#0F172A;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

font-family:Arial;

}


.card{

background:#1E293B;

padding:40px;

width:350px;

border-radius:15px;

text-align:center;

}



input{

width:100%;

padding:12px;

margin:10px 0;

border:none;

border-radius:8px;

}



button{

width:100%;

padding:12px;

background:#2563EB;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}