body{

background:#8c8a6e;

color:white;

font-family:Arial;

}


nav{

display:flex;

justify-content:space-between;

padding:20px;

background:#b7aa9d;

}



nav a{

color:white;

text-decoration:none;

}



.container{

padding:40px;

}



.search-box{

background:#cfc6bc;

padding:30px;

border-radius:15px;

width:500px;

}



input{

width:100%;

padding:12px;

margin:10px;

}



button{

background:#2563EB;

color:white;

padding:12px;

border:none;

border-radius:8px;

}