*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{

background:#0F172A;
color:white;

}



.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}



.hero h1{

font-size:60px;

color:#2563EB;

}


.hero p{

font-size:20px;

margin:20px;

}



.btn{

padding:12px 30px;

background:#2563EB;

color:white;

text-decoration:none;

border-radius:8px;

margin:10px;

}



.secondary{

background:#65DCD5;

color:black;

}