<!DOCTYPE html>
<html>

<head>

<title>
Register
</title>

<link rel="stylesheet" href="/static/css/auth.css">

</head>


<body>


<div class="card">


<h2>
Create Account
</h2>


<form method="POST">


<input 
type="text"
name="name"
placeholder="Full Name"
required>


<input 
type="email"
name="email"
placeholder="Email"
required>


<input 
type="password"
name="password"
placeholder="Password"
required>


<button>
Register
</button>


</form>


<p>
Already have account?
<a href="/login">
Login
</a>
</p>


</div>


</body>

</html>